<html>
<head>
    <title>User Login Test Title</title>
</head>

<body>

Create User:
<form action="/users/create/" method="POST">{% csrf_token %}
Username: <input type="text" name="username"><br />
Email: <input type="text" name="email"><br />
Password: <input type="password" name="password">
    <button>Submit</button>
</form>

Login User:
<form action="/users/login/" method="POST">{% csrf_token %}
Username: <input type="text" name="username"><br />
Password: <input type="password" name="password">
    <button>Submit</button>
</form>

<!--Update User:-->
<!--<form action="/users/3/" method="PUT">{% csrf_token %}-->
<!--Username: <input type="text" name="username"><br />-->
<!--Email: <input type="text" name="email"><br />-->
<!--Password: <input type="password" name="password">-->
    <!--<button>Submit</button>-->
<!--</form>-->

</body>

</html>